/*
	margin-top: 50px;
*/

.aboutBottom p {
	width: 1200px;
}

.about .aboutBottom h1 {
	font-weight: 400;
	font-size: 70px;
	color: black;
	height: 30px;
	display: flex;
	justify-content: center;
	transform: translateY(-40px);
}