.navbar {
	flex: 100%;
	height: 100%;
	background-color: #121619;
	display: flex;
	flex-direction: row;
}

.navbar .leftSide {
	flex: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 150px;
}

.navbar .leftSide img {
	width: 70px;
}

.navbar .rightSide {
	flex: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar a {
	color: orange;
	text-decoration: none;
	margin: 20px;
}

.navbar .rightSide button {
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
}

.navbar .rightSide svg {
	font-size: 40px;
}

@media only screen and (min-width: 600px) {
	.navbar .rightSide a{
		display: none;
	}

	.navbar .rightSide {
		justify-content: flex-end;
		padding-right: 50px;
	}

	.navbar .rightSide button {
		display: inherit;
	}
}


@media only screen and (min-width: 600px) {
	.navbar .rightSide button {
		display: none;
	}

	.hiddenLinks {
		display: none;
	}
}